<div class="container">
    <h3>
        Olá, {{ usuario.nome }}!
    </h3>
    
    <div>
        <ul class="collection with-header">
            <li class="collection-header">
                <h5>
                    Seus carros:
                </h5>
            </li>

            <li class="collection-item" *ngIf="usuario.carros.length === 0">
                Você não possui carros cadastrados!
            </li>

            <li class="collection-item" *ngFor="let carro of usuario.carros">
                <a [routerLink]="['carro', carro.id]">
                    {{ carro.modelo }}
                </a>
            </li>
        </ul>
    </div>

    <div class="row right-align">
        <a class="waves-effect waves-light btn" [routerLink]="['carro']">Adicionar Carro</a>
    </div>
</div>