<div class="container">
    <form (ngSubmit)="cadastrar(usuarioForm)" #usuarioForm="ngForm">
        <h3>Cadastro de usuário</h3>
    
        <div class="row">
            <div class="input-field col s12">
                <label for="nome" class="required">Nome</label>          
                <input id="nome" name="nome" type="text" [(ngModel)]="usuario.nome" class="validate" required #nome="ngModel">
                <div class="invalid-input-message" [hidden]="nome.untouched || nome.valid">
                    Campo Obrigatório!
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s12">
                <label for="email" class="required">Email</label>                
                <input id="email" name="email" type="email" [(ngModel)]="usuario.email" class="validate" required #email="ngModel">
                <div class="invalid-input-message" [hidden]="email.untouched || email.valid">
                    Campo Obrigatório!
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s12">
                <label for="senha" class="required">Senha</label>                
                <input id="senha" name="senha" type="password" [(ngModel)]="usuario.senha" class="validate" required #senha="ngModel">
                <div class="invalid-input-message" [hidden]="senha.untouched || senha.valid">
                    Campo Obrigatório!
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="input-field col s12">
                <label for="confirmacaoSenha" class="required">Confirme a senha</label>
                <input id="confirmacaoSenha" name="confirmacaoSenha" type="password" [(ngModel)]="confirmacaoSenha" class="validate" required #confSenha="ngModel">
                <div class="invalid-input-message" [hidden]="confSenha.untouched || confSenha.valid">
                    Campo Obrigatório!
                </div>
            </div>
        </div>

        <div class="row right-align">
            <button class="btn waves-effect waves-light" type="submit" name="btnCadastrar">
                Cadastrar
            </button>
        </div>
    </form>
</div>